# Dependencies
node_modules
node_modules/

# Environment variables - Keep out of version control
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Prisma
/src/generated/prisma
/prisma/migrations
/prisma/dev.db
.DS_Store
package-lock.json